<p>
<table>
	<%= form_for @articles do |f| %>  
  	<tr>
  		<td>title: </td><td> <%= f.text_field :title %> </td>
  	</tr>
  	<tr>
  		<td>rating : </td><td> <%= f.text_field :rating %> </td>
  	</tr>
  	<tr>
  		<td>user_id : </td><td> <%= f.text_field :user_id %> </td>
  	</tr>
  	<tr>
  		<td>description : </td><td> <%= text_area :articles, :description %></td>
  	</tr>
  	<tr>
  		<td><%=f.submit :update %></td>
  	</tr>
	<% end %>
</table>