<table>
<tr>
	<td colspan="2"><h1><%= @articles.title %></h1></td>
</tr>
<tr>
	<td  width="15%"><strong>Origin </td><td></strong> : <%= @user.first_name %> <%= @user.last_name %></td>
</tr>
<tr>
	<td><strong>Rating </td><td></strong> : <%= @articles.rating %></td>
</tr>
<tr>
	<td><strong>Created Date </td><td> :</strong> <%= @articles.created_at %></td>
</tr>
<tr>
	<td colspan="2"> 
		<p><%= @articles.description %></p>
	</td>
</tr>
<tr>
	<td>
		<p><%= link_to "Back", {:action => 'index' }%></p>
	</td>
</tr>
</table>