<% if @article.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<table>
	<%= form_for @article do |f| %>  
  	<tr>
  		<td>title: </td>
  		<td><%= f.text_field :title %> </td>
  	</tr>
  	<tr>
  		<td>rating : </td>
  		<td> <%= f.text_field :rating %> </td>
  	</tr>
  	<tr>
  		<td>user_id : </td>
  		<td> <%= f.text_field :user_id %> </td>
  	</tr>
  	<tr>
  		<td>description : </td>
  		<td> <%= text_area :article, :description %></td>
  	</tr>
  	<tr>
  		<td><%=f.submit :update %></td>
  	</tr>
	<% end %>
</table>