<%= flash[:notice] %>

<% if @articles.blank? %>
<p>There are not any Articles currently in the system.</p>

<% else %>

<p>These are the current Articles in our system</p>

	<p><%= link_to "Add new Article", {:action => 'new' }%></p>

	<table border="1" cellpadding="8px" cellspacing="0">

	<% @articles.each do |c| %>
		<tr>
			<td width="70%"><%= link_to c.title, {:action => "show", :id => c.id} -%> </td>
			<td><%= link_to ' Edit ', {:action => "edit", :id => c.id} %> </td>
			<td><%= link_to ' Delete ', {:action => "destroy", :id => c.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %> </td>
		</tr>
	<% end %>

	</table>
<% end %>