<table>
	<tr>
		<td colspan="2"><h1><%= @articles.title %></h1></td>
	</tr>
	<tr>
		<td  width="15%"><strong>Origin </td><td></strong> : <%= @user.first_name %> <%= @user.last_name %></td>
	</tr>
	<tr>
		<td><strong>Rating </td><td></strong> : <%= @articles.rating %></td>
	</tr>
	<tr>
		<td><strong>Created Date </td><td> :</strong> <%= @articles.created_at %></td>
	</tr>
	<tr>
		<td colspan="2"> <p><%= @articles.description %></p></td>
	</tr>
	<tr>
		<td><p><%= link_to "Back", {:action => 'index' }%></p></td>
	</tr>

</table>

<ul>
<div id="comments">
  <% @comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</div>
</ul>
<br /><br />

<h2>Add Comment</h2>
<% unless(current_user.nil?)%>
   <%= form_for @comment, :url => comments_path do |f| -%>
      	<%= f.text_area :content %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :article_id, :value => @articles.id %><br />
      <%= submit_tag "comment" %>
  <% end -%>
<% end %>