<table>
	<tr>
		<td colspan="2"><h1><%= @articles.title %></h1></td>
	</tr>
	<tr>
		<td  width="15%"><strong>Origin </td><td></strong> : <%= @user.first_name %> <%= @user.last_name %></td>
	</tr>
	<tr>
		<td><strong>Rating </td><td></strong> : <%= @articles.rating %></td>
	</tr>
	<tr>
		<td><strong>Created Date </td><td> :</strong> <%= @articles.created_at %></td>
	</tr>
	<tr>
		<td colspan="2"> <p><%= @articles.description %></p></td>
	</tr>
	<tr>
		<td><p><%= link_to "Back", {:action => 'index' }%></p></td>
	</tr>

</table>

<ul>
<div id="comments">
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div>
</ul>

<% unless(current_user.nil?)%>
	<h2>Add Comment</h2>
   <%= form_for @comment, :url => comments_path, :remote => true do |f| -%>
      	<%= f.text_area :content, size: "60x5"%>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :article_id, :value => @articles.id %><br />
      <%= submit_tag "comment" %>
  <% end -%>
<% end %>