<% if @users.blank? %>

	<p>There are not any User currently in the system.</p>

<% else %>

	<p>These are the current User in our system</p>

	<p><%= link_to "Add new User", {:action => 'new' }%></p>

<table border="1" cellpadding="8px" cellspacing="0">

<% @users.each do |c| %>
<% @full_name = c.first_name %>
<% @full_name += " " %>
<% @full_name += c.last_name %>
<tr>
	<td width="70%"><%= link_to @full_name, {:action => "show", :id => c.id} -%> </td>
	<td><%= link_to ' Edit ', {:action => "edit", :id => c.id} %> </td>
	<td><%= link_to ' Delete ', {:action => "destroy", :id => c.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %> </td>
</tr>
	<% end %>

</table>
<% end %>