<%= flash[:notice] %>
<%= flash[:error] %>

<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <h1>Sign Up</h1> 


<%= form_for @user do |f| %> 
<table>
<tr>
    <td> <%= f.label :first_name %> </td>
    <td> <%= f.text_field :first_name %> </td>
</tr>
<tr>
    <td> <%= f.label :last_name %></td>
    <td> <%= f.text_field :last_name %> </td>
</tr>
<tr>
  <td> <%= f.label :username %></td> 
  <td> <%= f.text_field :username %></td> 
</tr>
<tr>
  <td> <%= f.label :email %></td> 
  <td> <%= f.text_field :email %></td> 
</tr>
<tr> 
    <td><%= f.label :password %></td> 
    <td><%= f.password_field :password %> </td> 
</tr> 
<tr> 
    <td><%= f.label :password_confirmation %> </td> 
    <td><%= f.password_field :password_confirmation %> </td> 
</tr>
<tr>
    <td><%= f.label :date_of_birth %></td>
    <td> <%= f.text_field :date_of_birth %> </td>
</tr>
<tr>
    <td><%= f.label :age %></td>
    <td> <%= f.text_field :age %> </td>
</tr>
<tr>
    <td><%= f.label :country %></td>
    <td> <%= collection_select(:user,:country_id,@countries,:id,:name) %></td>
</tr>
<tr>
    <td><%= f.label :address %></td>
    <td><%= text_area :user, :address %> </td>
</tr>
<tr>
    <td></td>
    <td><%= recaptcha_tags %></td>
</tr>
</table>

  

    <p class="button"><%= f.submit %></p>
   
<% end %> 