<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<table>
<%= form_for @user do |f| %>  
    <tr>
      <td>first_name: </td><td> <%= f.text_field :first_name %> </td>
    </tr>
    <tr>
      <td>last_name: </td><td> <%= f.text_field :last_name %> </td>
    </tr>
    <tr>
      <td>email: </td><td> <%= f.text_field :email %> </td>
    </tr>
    <tr>
      <td>username: </td><td> <%= f.text_field :username %> </td>
    </tr>
    <tr>
      <td>password: </td><td> <%= f.text_field :password %> </td>
    </tr>
    <tr>
      <td>date_of_birth: </td><td> <%= f.text_field :date_of_birth %> </td>
    </tr>
    <tr>
      <td>age: </td><td> <%= f.text_field :age %> </td>
    </tr>
    <tr>
      <td>country: </td><td> <%= collection_select(:user,:country_id,@countries,:id,:name) %></p> </td>
    </tr>
    <tr>
      <td>address : </td><td><%= text_area :user, :address %> </td>
    </tr>
    <tr>
      <td><%=f.submit :create %> </td>
    </tr>
<% end %>

</table>

<%= flash[:notice] %>
<%= flash[:error] %>

<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <h1>Sign Up</h1> 


<%= form_for @user do |f| %> 

<%= f.label :first_name %> 
<%= f.text_field :first_name %><p>

<%= f.label :last_name %>
<%= f.text_field :last_name %> <p>

<%= f.label :username %>
<%= f.text_field :username %><p> 

<%= f.label :email %> 
<%= f.text_field :email %><p>

<%= f.label :password %>
<%= f.password_field :password %> <p> 

<%= f.label :password_confirmation %>  
<%= f.password_field :password_confirmation %> <p> 

<%= f.label :date_of_birth %>
<%= f.text_field :date_of_birth %> <p>

<%= f.label :age %>
<%= f.text_field :age %> <p>

<%= f.label :country %>
<%= collection_select(:user,:country_id,@countries,:id,:name) %><p>

<%= f.label :address %>
<%= text_area :user, :address %><p>

<%= recaptcha_tags %>

<p class="button"><%= f.submit %></p>
   
<% end %> 