<table>
<% @full_name = @user.first_name %>
<% @full_name += " " %>
<% @full_name += @user.last_name %>
<tr>
	<td colspan="2"><h1><%= @full_name %></h1></td>
</tr>
<tr>
	<td  width="15%"><strong>email </td><td></strong> : <%= @user.email %> </td>
</tr>
<tr>
	<td><strong>username </td><td></strong> : <%= @user.username %></td>
</tr>
<tr>
	<td><strong>password </td><td> :</strong> <%= @user.password %></td>
</tr>
<tr>
	<td><strong>date_of_birth </td><td></strong> : <%= @user.date_of_birth %></td>
</tr>
<tr>
	<td><strong>age </td><td> :</strong> <%= @user.age %></td>
</tr>
<tr>
	<td><strong>Country </td><td></strong> : <%= @user_country.name %></td>
</tr>
<tr>
	<td colspan="2"> 
		<p><%= @user.address %></p>
	</td>
</tr>
<tr>
	<td>
		<p><%= link_to "Back", {:action => 'index' }%></p>
	</td>
</tr>

</table>