<% if @countries.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@countries.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @countries.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<table>
	<%= form_for @countries do |f| %>  
  	<tr>
  		<td>code: </td><td> <%= f.text_field :code %>  </td>
  	</tr>
  	<tr>
  		<td>name: </td><td><%= f.text_field :name %> </td>
  	</tr>
  	<tr>
  		<td><%=f.submit :create %> </td>
  	</tr>
<% end %>

</table>