<p>
<table>
<tr>
	<td><strong>Code </td><td></strong> : <%= @countries.code %></td>
</tr>
<tr>
	<td><strong>Name </td><td> :</strong> <%= @countries.name %></td>
</tr>
<tr>
	<td>
		<p><%= link_to "Back", {:action => 'index' }%></p>
	</td>
</tr>
</table>