<% if @categories.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@categories.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @categories.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<table>
	<%= form_for @categories do |f| %>  
  	<tr>
  		<td>name: </td><td> <%= f.text_field :name %> </td>
  	</tr>
  	<tr>
  		<td><%=f.submit :update %></td>
  	</tr>
	<% end %>
</table>