<%= flash[:notice] %>
<%= flash[:error] %>
<% if @categories.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@categories.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @categories.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>

	<%= form_for @categories do |f| %>  

<%= f.text_field :name %><%= recaptcha_tags %> 
  
  <%=f.submit :create %> 
	<% end %>

