<p>
<table>
<tr>
	<td><strong>Rating </td><td></strong> : <%= @categories.name %></td>
</tr>
<tr>
	<td><strong>Created Date </td><td> :</strong> <%= @categories.created_at %></td>
</tr>
<tr>
	<td>
		<p><%= link_to "Back", {:action => 'index' }%></p>
	</td>
</tr>
</table>