<% if @product.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
<table>
	<%= form_for @product do |f| %>  
  	<tr>
  		<td>name: </td><td> <%= f.text_field :name %> </td>
  	</tr>
  	<tr>
  		<td>price: </td><td> <%= f.text_field :price %> </td>
  	</tr>
  	<tr>
  		<td>stock: </td><td> <%= f.text_field :stock %> </td>
  	</tr>
  	<tr>
  		<td>user_id: </td><td> <%= f.text_field :user_id %> </td>
  	</tr>
  	<tr>
  		<td>description : </td><td> <%= text_area :product, :description %></td>
  	</tr>
  	<tr>
  		<td><%=f.submit :update %></td>
  	</tr>
	<% end %>
</table>
