<% if @products.blank? %>

	<p>There are not any Products currently in the system.</p>

<% else %>

	<p>These are the current Products in our system</p>

	<p><%= link_to "Add new Products", {:action => 'new' }%></p>

<table border="1" cellpadding="8px" cellspacing="0">

	<% @products.each do |c| %>
<tr>
	<td width="70%"><%= link_to c.name, {:action => "show", :id => c.id} -%> </td>
	<td><%= link_to ' Edit ', {:action => "edit", :id => c.id} %> </td>
	<td><%= link_to ' Delete ', {:action => "destroy", :id => c.id}, :method => :delete, :confirm => "Are you sure you want to delete this item?" %> </td>
</tr>
	<% end %>

</table>
<% end %>