<table>
<tr>
	<td colspan="2"><h1><%= @products.name %></h1></td>
</tr>
<tr>
	<td  width="15%"><strong>Owner </td><td></strong> : <%= @user.first_name %> <%= @user.last_name %></td>
</tr>
<tr>
	<td><strong>price </td><td></strong> : <%= @products.price %></td>
</tr>
<tr>
	<td><strong>stock </td><td> :</strong> <%= @products.stock %></td>
</tr>
<tr>
	<td colspan="2"> 
		<p><%= @products.description %></p>
	</td>
</tr>
<tr>
	<td>
		<p><%= link_to "Back", {:action => 'index' }%></p>
	</td>
</tr>
</table>